@import url('https://fonts.google.com/specimen/Poppins');
:root{
    --primary1: hsl(180, 66%, 49%);
    --primary2: hsl(257, 27%, 26%);
    --secondary: hsl(0, 87%, 67%);
    --gray: hsl(0, 0%, 75%);
    --grayish-violet: hsl(257, 7%, 63%);
    --very-dark-blue: hsl(255, 11%, 22%);
    --very-dark-violet: hsl(260, 8%, 14%);
}

body{
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    background: whitesmoke;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    font-weight: bold;
}
li {
    list-style: none;
}
main{
    padding: 0;
}

.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    color: var(--very-dark-violet);
}
.menu-btn {
    cursor: pointer;
    font-size: x-large;
    color: var(--grayish-violet);
}
.close {
    display: none;
    font-size: x-large;
}
.nav-menu {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.show-nav-menu {
    display: flex;
    background: var(--primary2);
    color: #fff;
    border-radius: 8px;
    margin: 16px 12px;
    padding: 2rem 1rem;
}

.nav-menu li {
    font-weight: bold;
    padding-bottom: 1rem;
    text-align: center;
}
.signup {
    background: var(--primary1);
    border-radius: 2rem;
    width: 90%;
    padding-top: 8px;
    font-weight: 600;
    text-align: center;
}
.main-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.main-1-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 2rem 1rem 2rem 1rem;
}
.main-1-text h1 {
    color: var(--very-dark-violet);
}
.main-1-text .build {
    color: var(--grayish-violet);
}
.main-1-text .get-started {
    margin: 2rem 0 3rem 0;
}
.main-1-text .get-started, .info .get-started {
    color: #fff;
    background: var(--primary1);
    border-radius: 2rem;
    width: 50%;
    padding: 8px 0;
    font-weight: 600;
    text-align: center;
}

.main-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-bottom: 2rem;
}
.main-2-shorten {
    display: flex;
    flex-direction: column;
    background: var(--primary2) url('/images/bg-shorten-mobile.svg') top right no-repeat;
    width: 84%;
    text-align: center;
    align-items: center;
    padding: 1.5rem 1rem;
    margin-bottom: 3rem;
    border-radius: 12px;
}
.main-2-shorten input {
    padding: 10px 0 10px 10px;
    border-radius: 4px;
    border: 1px #fff;
    width: 84%;
    margin-bottom: 12px;
}
.main-2-shorten span {
    padding: 10px 0 10px 10px;
    border-radius: 4px;
    width: 84%;
    background: var(--primary1);
    color: #fff;
    font-weight: 600;
}

.main-2-advanced {
    display: flex;
    flex-direction: column;
    margin-bottom: 6rem;
    padding: 9px;
}
.main-2-advanced h1 {
    padding: 0 4px 0 4px;
}
.main-2-advanced span {
    color: var(--grayish-violet);
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background: #fff;
    border-radius: 12px;
    margin-bottom: 5rem;
}
.card-img-container {
    background: var(--primary2);
    border-radius: 100%;
    padding: 12px 15px;
    position: relative;
    top: -30px;
}
.card-img-container img{
    width: 2rem;
}
.card-container h1, .card-container span {
    padding: 0 1rem 2rem 1rem;
}
.card-container span {
    color: var(--grayish-violet);
}

/* Footer section */
footer {
    background-color: var(--very-dark-violet);
}
footer h2 {
    color: #fff;
    font-size: small;
    text-align: center;
}
footer ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--gray);
    font-size: 15px;
    padding-right: 2rem;
}
footer ul li {
    padding-bottom: 8px;
}
.features {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.features .logo-footer {
    color: #fff;
    text-align: center;
    padding: 2rem 0 2rem 0;
}
.logo-footer img {
    color: white;
}
.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: var(--primary2) url('/images/bg-boost-mobile.svg') center;
    padding: 4rem 1rem;
    color: #fff;
}
.info h2 {
    font-size: larger;
}
.icons-footer {
    padding: 2rem 0 2rem 0;
}
.icons-footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

@media(min-width: 810px){
    header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .menu-btn {
        display: none;
    }
    .nav-menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-top: 1rem;
        font-size: small;
    }
    .nav-menu li {
        padding-right: 12px;
        color: var(--grayish-violet);

    }
    .signup {
        padding: 5px !important;
        font-weight: bold !important;
        margin-bottom: 13px;
        color: #fff !important;
    }
    .main-1 {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }
}